p {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

#top {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #222222;
  padding: 20px 0;
}
#top .top-area .top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
}
#top .top-area .top-left p,
#top .top-area .top-left i {
  color: #c3c3c3;
  font-size: 13px;
}
#top .top-area .top-left .select {
  background-color: #222222;
  border: none;
  color: #c3c3c3;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}
#top .top-area .top-left .select i {
  font-size: 12px;
}
#top .top-area .top-left .select .title-currency p {
  transition: 0.5s;
}
#top .top-area .top-left .select .title-currency p:hover {
  opacity: 0.7;
}
#top .top-area .top-left .select .currency {
  background-color: white;
  width: 210px;
  height: 104px;
  padding: 7px 0;
  position: absolute;
  top: 30px;
  left: -10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;
  border-top: 4px solid #c3c3c3 !important;
}
#top .top-area .top-left .select .currency i {
  font-size: 12px;
}
#top .top-area .top-left .select .currency button {
  border: none;
  background-color: white;
  display: block;
  width: 100%;
  height: 50px;
  transition: all 0.4s;
  border-bottom: 1px dashed #f6f6f6;
}
#top .top-area .top-left .select .currency button p {
  font-size: 11px;
  background-color: #EF6C00;
  width: 23px;
  height: 16px;
  color: white;
}
#top .top-area .top-left .select .currency button:hover {
  background: rgba(0, 0, 0, 0.04);
}
#top .top-area .top-left .lang {
  margin-bottom: 3px;
}
#top .top-area .top-left .lang img {
  width: 17px;
  margin-right: 5px;
}
#top .top-area .top-left .lang .title-lang {
  cursor: pointer;
}
#top .top-area .top-left .lang .title-lang p {
  transition: 0.5s;
}
#top .top-area .top-left .lang .title-lang p:hover {
  opacity: 0.7;
}
#top .top-area .top-left .lang .title-lang i {
  font-size: 12px;
}
#top .top-area .top-left .lang .languages {
  background-color: white;
  width: 213px;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 126px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;
  border-top: 4px solid #c3c3c3 !important;
}
#top .top-area .top-left .lang .languages img {
  width: 17px;
  margin-right: 5px;
}
#top .top-area .top-left .lang .languages p {
  color: #222222;
}
#top .top-area .top-left .lang .languages .item {
  display: flex;
  align-items: center;
  height: 45px;
  border-bottom: 1px dashed #f6f6f6;
  cursor: pointer;
}
#top .top-area .top-left .lang .languages .item:hover {
  background: rgba(0, 0, 0, 0.04);
}
#top .top-area .top-right ul li {
  margin-left: 28px;
}
#top .top-area .top-right ul li a {
  color: #c3c3c3;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.5s;
}
#top .top-area .top-right ul li a i {
  font-size: 17px;
}
#top .top-area .top-right ul li a span {
  font-size: 12px;
  font-weight: 600;
}
#top .top-area .top-right ul li a:hover {
  opacity: 0.7;
}

#center {
  background-color: #EF6C00;
}
#center .center-area {
  padding: 20px 0;
}
#center .center-area .search-area {
  margin-left: 30px;
}
#center .center-area .search-area .search {
  background-color: white;
  width: 100%;
  height: 36px;
  border-radius: 4px;
}
#center .center-area .search-area input {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 4px;
  padding-left: 10px;
}
#center .center-area .search-area input::-moz-placeholder {
  font-size: 12px;
}
#center .center-area .search-area input:-ms-input-placeholder {
  font-size: 12px;
}
#center .center-area .search-area input::placeholder {
  font-size: 12px;
}
#center .center-area .search-area button {
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-transform: uppercase;
  background-color: #222222;
  color: white;
  width: 125px;
}
#center .center-area .rigth-area {
  color: white;
}
#center .center-area .rigth-area .callback {
  margin-left: 20px;
}
#center .center-area .rigth-area .icon {
  margin-top: 3px;
  font-size: 26px;
  margin-right: 10px;
}
#center .center-area .rigth-area .helpline {
  font-weight: 600;
}
#center .center-area .rigth-area .helpline p {
  font-size: 12px;
}
#center .center-area .rigth-area .helpline a {
  color: white;
  font-size: 21px;
}
#center .center-area .rigth-area .shopping-cart {
  position: relative;
  cursor: pointer;
}
#center .center-area .rigth-area .shopping-cart:hover {
  background-color: #222222;
}
#center .center-area .rigth-area .shopping-cart i {
  font-size: 20px;
}
#center .center-area .rigth-area .shopping-cart p {
  position: absolute;
  bottom: -2px;
  left: 24px;
  font-size: 12px;
  font-weight: bold;
}
#center .center-area .rigth-area .shopping-cart .product-count {
  position: absolute;
  background-color: #222222;
  color: white;
  width: 17px;
  height: 17px;
  text-align: center;
  border-radius: 50%;
  bottom: 21px;
  left: 20px;
}

@media (max-width: 960px) {
  #top .top-area {
    justify-content: center !important;
  }
  #top .top-area .lang {
    margin-left: 15px;
  }
  #center .center-area {
    text-align: center;
  }
  #center .center-area .search-area {
    margin: 20px 0;
  }
  #center .center-area .search-area .search {
    height: 40px;
    width: 90%;
    margin: 0 auto;
  }
  #center .center-area .rigth-area {
    justify-content: center !important;
  }
}
@media (min-width: 600px) {
  .top-right {
    display: block !important;
  }
}/*# sourceMappingURL=style.css.map */