@import '../partials/mixins';
@import '../partials/variables';

#intro {
    .blogs {
        margin-top: 20px;
        .left-side {
            display: flex;
            align-items: center;
            &:not(&:first-child){
                margin-top: 20px;
            }
            .img-area {
                img {
                    width: 100%;
                }
            }

            .info {
                ul {
                    display: flex;
                    align-items: center;

                    li {
                        margin-right: 7px;
                        font-size: 14px;

                        i {
                            color: $nativeColor;
                        }
                    }
                }

                .text {
                    margin-top: 17px;
                    width: 105%;

                    p {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }

        }

        .right-side {
            margin-left: 35px;

            .input-area {
                height: 51px;
                width: 100%;
                background-color: white;
                display: flex;
                align-items: center;

                input,
                button {
                    height: 100%;
                    border: none;
                    outline: none;
                }

                input {
                    width: 75%;
                    border: 1px solid #ddd;
                    padding: 8px;

                    &::placeholder {
                        font-size: 13px;
                    }
                }

                button {
                    width: 16%;
                    background-color: $nativeColor;

                    i {
                        color: white;
                    }
                }
            }

            .latest-news {
                margin-top:8px;

                ul {
                    margin-top: 26px;

                    li {
                        display: flex;
                        align-items: center;

                        img {
                            width: 30%;
                        }

                        .info {
                            margin-left: 10px;

                            h5 {
                                margin-bottom: 0 !important;
                                font-weight: 600;

                                a {
                                    color: rgb(88, 88, 88);
                                    font-size: 14px;
                                    line-height: 24px;

                                }
                            }

                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .widget {
                margin-top: 8px;

                .text {
                    margin-top: 20px;

                    span {
                        font-size: 13px;
                        color: #333;
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 15px;

                    li {
                        display: inline-block;
                        padding-left: 5px;
                        padding-right: 5px;
                        margin-top: 20px;

                        a {
                            display: block;
                            font-size: 10px;
                            border: 1px solid #e5e5e5;
                            border-radius: 16px;
                            padding: 6px 25px;
                            text-transform: uppercase;
                            color: #787878;
                            font-weight: 600;
                            transition: all .4s ease;

                            &:hover {
                                background: $nativeColor;
                                border-color: transparent;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            p {
                font-size: 14px;
                font-weight: 600;
                position: relative;
                text-transform: uppercase;

                &:before {
                    content: "";
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 0.0625rem;
                    bottom: -0.65625rem;
                    background-color: #f6f6f6;
                }

                &::after {
                    content: "";
                    left: 0;
                    position: absolute;
                    width: 2.5rem;
                    height: 0.125rem;
                    background-color: #222;
                    bottom: -0.6875rem;
                }
            }
        }


    }
}