@import '../partials/mixins';
@import '../partials/variables';



#top {
    user-select: none;
    font-family: $fontFamily;
    background-color: #222222;
    padding: 20px 0;

    .top-area {
        position: relative;

        .open-icon {
            position: absolute;
            left: 6px;
            color: $nativeColor;
            cursor: pointer;
            opacity: 1.5;
            font-size: 20px;

        }

        .active-menu {
            transform: translate(0) !important;
        }

        .menu {
            background-color: white;
            position: absolute;
            top: -19px;
            left: -13px;
            width: 250px;
            height: 100vh;
            z-index: 11;
            transform: translate(-1000px);
            transition: all .7s;

            .close-icon {
                font-size: 24px;
                color: #f44336;
                margin: 20px 0 20px 20px;
                cursor: pointer;
            }

            .line {
                border-bottom: 1px solid #c3c3c3;
                margin: 0 10px 0 10px;
            }

            .menues {
                li {
                    width: 100%;

                    a {
                        font-size: 15px !important;
                        text-transform: capitalize !important;
                        color: #111111b2;
                        font-weight: 500 !important;

                        span {
                            background-color: $nativeColor;
                            color: white;
                            padding: 3px;
                            font-size: 8px;
                        }
                    }

                    &:hover {

                        background-color: transparent !important;
                    }
                }

                .last-menu {
                    i {
                        display: inline;
                        margin-left: 112px !important;
                        font-size: 12px;
                    }
                }

                .sub-menu {
                    position: absolute;
                    top: 60px;

                    ul {
                        margin-left: 10px;
                    }

                    li {
                        padding: 0 !important;
                        margin-top: 10px;

                    }
                }
            }

        }

        .top-left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 18%;

            p,
            i {
                color: #c3c3c3;
                font-size: 13px;
            }

            .select {
                background-color: #222222;
                border: none;
                color: #c3c3c3;
                font-weight: 600;
                position: relative;
                cursor: pointer;

                i {
                    font-size: 12px;
                }

                .title-currency {
                    p {
                        transition: .5s;

                        &:hover {
                            opacity: .7;
                        }
                    }
                }

                .currency {
                    background-color: white;
                    width: 210px;
                    height: 104px;
                    padding: 7px 0;
                    position: absolute;
                    top: 30px;
                    left: -10px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    border-radius: 4px;
                    border-top: 4px solid #c3c3c3 !important;
                    z-index: 1;
                    i {
                        font-size: 12px;
                    }

                    button {
                        border: none;
                        background-color: white;
                        display: block;
                        width: 100%;
                        height: 50px;
                        transition: all .4s;
                        @include dashBorder;

                        p {
                            font-size: 11px;
                            background-color: $nativeColor;
                            width: 23px;
                            height: 16px;
                            color: white;

                        }

                        &:hover {
                            background: rgba(0, 0, 0, .04);
                        }
                    }
                }


            }

            .lang {
                margin-bottom: 3px;

                img {
                    width: 17px;
                    margin-right: 5px;
                }

                .title-lang {
                    cursor: pointer;

                    p {
                        transition: .5s;

                        &:hover {
                            opacity: .7;
                        }
                    }

                    i {
                        font-size: 12px;
                    }
                }

                .languages {
                    z-index: 1;
                    background-color: white;
                    width: 213px;
                    padding: 10px;
                    position: absolute;
                    top: 33px;
                    left: 126px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    border-radius: 4px;
                    border-top: 4px solid #c3c3c3 !important;

                    img {
                        width: 17px;
                        margin-right: 5px;
                    }

                    p {
                        color: #222222;

                    }

                    .item {
                        display: flex;
                        align-items: center;
                        height: 45px;
                        @include dashBorder;
                        cursor: pointer;

                        &:hover {
                            background: rgba(0, 0, 0, .04);
                        }
                    }
                }
            }


        }

        .top-right {
            ul {
                li {
                    margin-left: 28px;

                    a {
                        color: #c3c3c3;
                        text-transform: uppercase;

                        font-weight: 500;
                        transition: all .5s;

                        i {
                            font-size: 17px;
                        }

                        span {
                            font-size: 12px;
                            font-weight: 600;
                        }

                        &:hover {
                            opacity: .7;
                        }
                    }
                }
            }
        }


    }
}

#center {
    background-color: $nativeColor;

    .center-area {
        padding: 16px 0;
        img{
            width: 85%;
        }
        .search-area {
            margin-left: 30px;

            .search {
                background-color: white;
                width: 100%;
                height: 36px;
                border-radius: 4px;
            }

            input {
                border: none;
                outline: none;
                width: 100%;
                border-radius: 4px;
                padding-left: 10px;

                &::placeholder {
                    font-size: 12px;
                }
            }

            button {
                border: none;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                text-transform: uppercase;
                background-color: #222222;
                color: white;
                width: 125px;
            }
        }

        .rigth-area {
            color: white;

            .callback {
                margin-left: 20px;
            }


            .icon {
                margin-top: 3px;
                font-size: 26px;
                margin-right: 10px;
            }

            .helpline {
                font-weight: 600;

                p {
                    font-size: 12px;
                }

                a {
                    color: white;
                    font-size: 21px;
                }
            }

            .shopping-cart {
                position: relative;
                cursor: pointer;

                // &:hover {
                //     background-color: #222222;
                // }

                i {
                    font-size: 20px;
                }

                p {
                    position: absolute;
                    bottom: -2px;
                    left: 24px;
                    font-size: 12px;
                    font-weight: bold;
                }

                .product-count {
                    position: absolute;
                    background-color: #222222;
                    color: white;
                    width: 17px;
                    height: 17px;
                    text-align: center;
                    border-radius: 50%;
                    bottom: 21px;
                    left: 20px;

                }
            }

            .basket-desc-area {
                color: #222222;
                width: 16%;
                background-color: #fff;
                border-top: 4px solid #c3c3c3 !important;
                border-radius: 4px;
                padding: 20px;
                position: absolute;
                top: 134px;
                right: 122px;
                z-index: 1;
                a{
                    color: #222 !important;
                }

                .products-info {
                    margin-top: 15px;
                    padding-top: 15px;
                    border-top: 1px solid #c3c3c3;

                    .price-count {
                        border-bottom: 1px solid #c3c3c3;
                        padding-bottom: 15px;
                        color: #777;
                    }
                    .heading{
                        p{
                            font-size: 16px;
                        }
                        .delete {
                            color: #777;
                            cursor: pointer;
                        }
                    }
                    
                }

                .subtotal {
                    padding-top: 15px;

                    span {
                        font-size: 18px;
                        &:nth-child(1) {
                            color: #777;
                        }
                    }
                }
            }


        }

    }
}

#bottom {
    font-family: $fontFamily;
    background-color: #F5F7F8;
    user-select: none;

    .sub-menu {
        z-index: 1;
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
        background-color: white;
        width: 200px;
        position: absolute;
        top: 56px;
        left: -17px;
        border-radius: 4px;
        border-top: 4px solid #c3c3c3;
        z-index: 2;
        ul {
            margin-top: 15px;

            li {
                @include dashBorder;
                cursor: pointer;
                height: 40px;

                a {
                    font-size: 12px;
                    margin-left: 10px;
                    margin-top: 10px;
                    color: rgba(0, 0, 0, .87);
                    text-transform: none;

                    span {
                        background-color: $nativeColor;
                        color: white;
                        padding: 3px;
                        font-size: 8px;
                    }

                }

                &:hover {

                    background: rgba(0, 0, 0, .04);
                }
            }
        }
    }
}

.menues {
    width: 50%;

    li {
        padding: 16px 20px;
        cursor: pointer;

        a {
            font-size: 14px;
            color: #383838;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;


        }

        &:hover {

            background: rgba(0, 0, 0, .04);
        }
    }

    .last-menu {
        position: relative;
    }


}