@media (min-width:577px) and (max-width:993px) {
    #top {
        .top-right {
            display: block !important;
        }

        .top-area {
            .open-icon {
                left: -91px;
            }

            .menu {
                left: -110px !important;
            }
        }

    }

    #center {
        .center-area {
            text-align: center;

            .search-area {
                margin: 20px 0;

                .search {
                    height: 40px;
                    width: 90%;
                    margin: 0 auto;
                }
            }

            .rigth-area {
                justify-content: space-around !important;
            }

            img {
                width: auto !important;
            }
        }

        .basket-desc-area {
            width: 29% !important;
            top: 246px !important;
            right: 159px !important;

            .price-count {
                text-align: start !important;
            }
        }
    }

    #intro-slider {
        .slider {
            padding: 100px !important;

            h1 {
                font-size: 30px !important;

            }

            h3 {
                font-size: 24px !important;
            }

        }
    }

    #info {
        .box {
            justify-content: flex-start !important;
            margin-top: 20px !important;
        }

        .shipping {
            border-right: none !important;
        }
    }

    #products {
        .tab-menu-link {

            width: 100% !important;
        }

        .cart {
            .info {
                h4 {
                    font-size: 15px !important;
                }
            }

        }
    }

    #banners {
        .banner-right {
            flex-direction: row-reverse !important;
            margin-top: 10px !important;

            .banner-right-top {
                display: block !important;
                margin-left: 10px;

                .banner-right-top-left {
                    width: 100% !important;
                }

                .banner-right-top-right {
                    width: 100% !important;
                    margin-left: 0px !important;
                    margin-top: 10px;
                }
            }

            .banner-right-bottom {
                height: 374px;
                background-size: 124%;

                .text {
                    width: 58% !important;
                }
            }

        }
    }

    #vertical-products {
        .box {
            margin-bottom: 20px !important;

            .box-content {
                .img-area {
                    width: 50% !important;
                }

                .info {
                    span {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }

    .product-modal {
        height: 535px !important;

        .modal-area {
            height: 535px !important;
            overflow-y: scroll !important;
            display: block !important;

            img {
                width: 100% !important;
            }
        }
    }

    #services {
        .item {
            width: 100% !important;
        }
    }

    .expert {
        .info-area {
            height: 10%;
        }

        .social-links-area {
            height: -1%;
        }
    }
    #detail-intro{
        .box {
            max-width: 100% !important;
        }
        .left-side{
            .img{
                height: 330px !important;
               img{
                width: 50% !important;
               }
            }
        }
    }
}

@media (max-width:576px) {
    #top {
        .top-area {
            justify-content: center !important;

            .lang {
                margin-left: 15px;
            }
        }

        .top-right {
            display: none !important;
        }
    }

    #intro-slider {
        .slider {
            padding: 30px !important;

            h1 {
                font-size: 30px !important;

            }

            h3 {
                font-size: 24px !important;
            }

        }
    }

    #center {
        .center-area {
            text-align: center;

            .search-area {
                margin: 20px 0;

                .search {
                    height: 40px;
                    width: 90%;
                    margin: 0 auto;
                }
            }

            .rigth-area {
                justify-content: space-around !important;
            }

            img {
                width: auto !important;
            }
        }

        .basket-desc-area {
            width: 45% !important;
            top: 246px !important;
            right: 50px !important;

            .price-count {
                text-align: start !important;
            }
        }
    }

    #info {
        .box {
            border-right: none !important;
            justify-content: flex-start !important;

            .icon {
                i {
                    font-size: 30px !important;
                }
            }
        }
    }

    #products {
        .tab-menu-link {

            width: 100% !important;
            margin: 0 10px;
        }

    }

    .product-modal {
        left: 5% !important;
        width: 90% !important;
        height: 535px !important;

        .modal-area {
            height: 535px !important;
            overflow-y: scroll !important;
            display: block !important;

            .img {
                text-align: center !important;

                img {
                    width: 100% !important;
                }
            }
        }
    }

    #banners {
        .banner-left {
            margin-bottom: 205px !important;
        }

        .banner-right {
            display: flex;
            flex-direction: column-reverse !important;

            .banner-right-top {
                display: block !important;

                .banner-right-top-left {
                    width: 100% !important;
                }

                .banner-right-top-right {
                    width: 100% !important;
                    margin-left: 0px !important;
                    margin-top: 10px;
                }
            }

            .banner-right-bottom {
                margin-bottom: 10px !important;
                background-size: 130%;

                .text {
                    width: 58% !important;
                }
            }

        }
    }

    #vertical-products {
        .box {
            margin-bottom: 20px !important;

            .box-content {
                .img-area {
                    width: 16% !important;

                }
            }
        }
    }

    .expert {
        .info-area {
            height: 10% !important;
        }

        .social-links-area {
            height: 10% !important;
        }
    }

    #intro {
        .map-area {
            .bottom {
                .inputs-area {
                    margin-left: 0 !important;
                }
            }
        }
    }

    #intro {
        .left-side {
            .info {
                margin-top: 10px !important;

                .wrapper {
                    .text {
                        width: 100% !important;
                    }
                }
            }

        }

        .right-side {
            margin-top: 20px;
            margin-left: 0 !important;

            ul {
                li {
                    margin-bottom: 20px;

                    img {
                        width: 56% !important;
                    }
                }
            }

            .widget {
                ul {
                    margin-top: 30px !important;

                    li {
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }

    #detail-intro {
        .slider-area {
            .box {
                max-width: 100% !important;
            }
        }
        .tab-menu-link{
            padding-right: 74px !important;
        }
        .fullname-area{
            display:  block !important;
            .group{
                width: 100% !important;
            }
        }
       

    }

}