p {
    margin: 0 !important;
    padding: 0 !important;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

.colorless-overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}


#breadcrumb-area {
    font-family: $fontFamily;
    padding: 15px 0;

    span {
        color: #333;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 500;
        
        &:last-child {
            float: right;
        }
    }
}