@media (min-width:576px) and (max-width:992px) {
    #top {
        .top-right {
            display: block !important;
        }

        .top-area {
            .open-icon {
                left: -91px;
            }

            .menu {
                left: -110px !important;
            }
        }

    }

    #center {
        .center-area {
            text-align: center;

            .search-area {
                margin: 20px 0;

                .search {
                    height: 40px;
                    width: 90%;
                    margin: 0 auto;
                }
            }

            .rigth-area {
                justify-content: space-around !important;
            }
        }
    }

    #intro-slider {
        .slider {
            padding: 100px !important;

            h1 {
                font-size: 30px !important;

            }

            h3 {
                font-size: 24px !important;
            }

        }
    }

    #info {
        .box {
            justify-content: flex-start !important;
            margin-top: 20px !important;
        }

        .shipping {
            border-right: none !important;
        }
    }

    #products {
        .tab-menu-link {

            width: 100% !important;
        }

        .cart {
            .info {
                h4 {
                    font-size: 15px !important;
                }
            }

        }
    }

    #banners {
        .banner-right {
            flex-direction: row-reverse !important;
            margin-top: 10px !important;

            .banner-right-top {
                display: block !important;
                margin-left: 10px;

                .banner-right-top-left {
                    width: 100% !important;
                }

                .banner-right-top-right {
                    width: 100% !important;
                    margin-left: 0px !important;
                    margin-top: 10px;
                }
            }

            .banner-right-bottom {
                height: 374px;
                background-size: 124%;

                .text {
                    width: 58% !important;
                }
            }

        }
    }

    #vertical-products {
        .box {
            margin-bottom: 20px !important;

            .box-content {
                .img-area {
                    width: 50% !important;
                }

                .info {
                    span {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }

    .product-modal {
        .modal-area {
            overflow-y: scroll !important;
            display: block !important;
        }
    }

}


@media (max-width:576px) {
    #top {
        .top-area {
            justify-content: center !important;

            .lang {
                margin-left: 15px;
            }
        }

        .top-right {
            display: none !important;
        }
    }

    #intro-slider {
        .slider {
            padding: 30px !important;

            h1 {
                font-size: 30px !important;

            }

            h3 {
                font-size: 24px !important;
            }

        }
    }

    #center {
        .center-area {
            text-align: center;

            .search-area {
                margin: 20px 0;

                .search {
                    height: 40px;
                    width: 90%;
                    margin: 0 auto;
                }
            }

            .rigth-area {
                justify-content: space-around !important;
            }
        }
    }

    #info {
        .box {
            border-right: none !important;
            justify-content: flex-start !important;

            .icon {
                i {
                    font-size: 30px !important;
                }
            }
        }
    }

    #products {
        .tab-menu-link {

            width: 100% !important;
            margin: 0 10px;
        }

    }

    .product-modal {
        left: 5% !important;
        width: 90% !important;
        .modal-area {
            overflow-y: scroll!important;
            display: block !important;
            .img{
                text-align: center !important;
            }
        }
    }

    #banners {
        .banner-left {
            margin-bottom: 205px !important;
        }

        .banner-right {
            display: flex;
            flex-direction: column-reverse !important;

            .banner-right-top {
                display: block !important;

                .banner-right-top-left {
                    width: 100% !important;
                }

                .banner-right-top-right {
                    width: 100% !important;
                    margin-left: 0px !important;
                    margin-top: 10px;
                }
            }

            .banner-right-bottom {
                margin-bottom: 10px !important;
                background-size: 130%;

                .text {
                    width: 58% !important;
                }
            }

        }
    }

    #vertical-products {
        .box {
            margin-bottom: 20px !important;

            .box-content {
                .img-area {
                    width: 16% !important;

                }
            }
        }
    }
}